<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789092012691-ds5gv21ktld3mrcoiqg4m24m6bbl5lvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789092012691-ds5gv21ktld3mrcoiqg4m24m6bbl5lvm</string>
	<key>API_KEY</key>
	<string>AIzaSyCBBirll5_QATtJfu_LX2IQrVtoEWqAcpA</string>
	<key>GCM_SENDER_ID</key>
	<string>789092012691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-93ccf</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-93ccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789092012691:ios:9ad374ae73add1cf68b366</string>
</dict>
</plist>